.navbar {
  height: 20px;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.brand-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.dunkin-donuts-brand {
  color: orangered;
}

.method-brand {
  color: green;
}

.url-input-container {
  padding: 20px;
}

.url-label {
  margin-right: 20px;
  color: #23233f;
  font-weight: bold;
  font-size: 15px;
}

.url-input {
  height: 32px;
  width: 750px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 20px;
}
.btn {
  border: none;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.url-submit-button {
  background-color: green;
}

.authorize-button {
  background-color: #2ecc71;
}

.cancel-button {
  background-color: #e74c3c;
}
